/***** FONTS IF NECESSARY *****/



/***** BASE STYLES *****/

body {
 color: #605a51;
  }

p, h1, h2, h3, h4 {
  margin: 0;
  }

h1 {
  font-family: 'Roboto Slab', serif;
  margin-top: 180px;
  padding: 48px 0 0 0;
  font-size: 60px;
  text-align:center;
  color: #ea7656;
  }

h2 {
  font-family: 'Roboto Slab', serif;
  padding: 60px 40px 40px 40px;
  font-size: 36px;
  line-height: 40px;
  color: #095256;
  text-align:center;
  }

h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  padding: 0 0 0 0;
  font-size: 24px;
  line-height: 28px;
  color: #095256;
    }

h4 {
  font-weight: normal;
  padding: 10px 0 20px 0;
  font-size: 20px;
  line-height: 24px;
  color: #095256;
  }

a {

}
/***** GRID *****/
.full-width {
  width: 1200px;
  margin: auto ;
  padding: 0 0 0 0;
  }

.half-width {
  width: 598px;
  float: left;
  }

.third-width {
  width: 358px;
  float:left;
  border: 0px black solid;
  margin-right: 40px;
  }

.two-third-width {
  width: 758px;
  float:left;
  border: 0px black solid;
  margin-right: 40px;
  }

.clear-fix {
  overflow: auto;
  }

/***** HEADER SECTION *****/
header {
  height: 685px;
  background-image: url("../img/hero-image.png");
  background-repeat: no-repeat;
  background-color: silver;
  background-position: center;
  background-size: cover;
  border-bottom: solid 0px #fff;
  filter: drop-shadow(0 0 20px silver);}


header h2 {
  margin: 0 250px 0 250px;
  font-family: 'Roboto', sans-serif;
  padding: 20px 0 40px 0;
  font-size: 42px;
  font-weight: 300;
  text-align:center;
  line-height: 51px;
  color: #095256;
  }

.passion {
  font-family: 'Great Vibes', cursive;
  padding: 48px 0 40px 0;
  font-size: 48px;
  text-align:center;
  color: #605a51;
  }

nav {
  float: right;
  padding: 40px 15px 25px 0;
  }

nav ul li {
  display: inline-block;
  }

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color:#095256;
  padding-left: 30px;
  }

  /***** PORTFOLIO FEATURE SECTION *****/

#portfolio-feature {
  margin: 0 60px 60px 60px;
  background-color: white;
  border-top: 0px solid #605a51;
  overflow: auto;
  }

#portfolio-feature img {
  width: 500px;
  margin: 0 0 0 60px;
  }


.project-type {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #605a51;
  }


#portfolio-feature p {
  padding: 0 60px 15px 0;
  font-size: 16px;
  line-height: 25px;
  color: #605a51;
  }

#portfolio-feature .a {
  font-weight: bold;
  padding: 0 0 15px 0;
  font-size: 16px;
  line-height: 25px;
  color: #605a51;
  }

#portfolio-feature .project {
  overflow: auto;
  padding: 30px 0 45px 0;
  }


/***** GRID SECTION *****/

.flex-grid-container {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
}

.flex-grid {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-grid-item img {
  width: 358px;
  margin: 0 0 10px 0;
}

.flex-grid-item {
  border: 0px solid black;
  height: 650px;
  width: 358px;
  margin-right: 40px;
}
#photography .flex-grid-item {
  height: 350px;
  width: 358px;
  margin-right: 40px;
}

.project-type {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #605a51;
      }

.flex-grid-item h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  padding: 0 0 0 0;
  font-size: 21px;
  line-height: 24px;
  color: #095256;
  }

.flex-grid-item  h4 {
  font-weight: normal;
  padding: 10px 0 20px 0;
  font-size: 18px;
  line-height: 21px;
  color: #095256;
  }

.flex-grid-item  p {
  padding: 0 0 20px 0;
  font-size: 14px;
  line-height: 20px;
  color: #605a51;
  }

.flex-grid-item  .link {
  font-weight: bold;
  padding: 0 0 15px 0;
  font-size: 14px;
  line-height: 25px;
  color: #605a51;
  }

/***** ABOUT SECTION *****/
#about {
  margin: 0 0 0 0;
  padding: 60px;
  overflow: auto;
  background-color: #605a51;
  }

#about h2 {
  padding: 0 0 40px 0;
  text-align:left;
  color: #fff;
  }

#about h3 {
  font-family: 'Roboto Slab', serif;
  padding: 0 0 0 0;
  font-size: 24px;
  line-height: 28px;
  color: #a6c8bf;
  }

#about p {
  margin: 20px 0 0 0;
  padding: 10px 0 0 0;
  color: #fff;
  line-height: 23px;
  }

#about img {
  width: 300px;
  margin: 80px 0 0 40px;
  border: 12px #424242 solid;
}

.mw {
      font-family: 'Great Vibes', cursive;
      margin: 40px 0 0 0;
      padding: 0px 0 40px 0;
      font-size: 32px;
      color: #fff;
      }
/***** FOOTER SECTION *****/

#contact {
  padding-top: 50px;
  height: 200px;
  background-color: #095256;
  }

#contact .clear­fix {
  clear:both;
  }

#contact h2 {
  color: #fff;
  }

#contact h3 {
  text-transform: uppercase;
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 23px;
  font-weight; bold;
  color: #fff;
  text-align:center;
  }

#contact p {
  margin: 20px 0 0 0;
  text-align:center;
  text-transform: none;
  color:#fff;
  font-size:18px;
  line-height: 23px;
  }


#contact  ul {
  text-align: center;
  }

#contact  ul li {
  display: inline-block;
  padding: 0 40px 0 0;
  }

#contact ul li a {
  font-size: 40px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  }
